fastapi
UVICORN
uvicorn
pydantic
typing
pandas
GUNICORN
gunicorn
openpyxl
mlflow
boto3
scikit-learn
Scikit-learn
#sklearn
python-multipart
fsspec
s3fs
psutil
joblib
Pillow
pillow
numpy
requests
requests-oauthlib
jsonschema